{% extends 'AppHoppiness/padre.html' %}

{% load static %}

{% block contenidoModificable %}
<div class="container raise-1">
    <h3 class="section-title mb-6 pb-3 text-center">Acerca de la creadora...</h3>
<!--<h1 class="title">Acerca de mi... </h1> -->
<p>Graciela nació en Córdoba, Argentina, estudió Ingenieria en Sistemas, 
    hace 15 años que se dedica al desarrollo. 
    <br></br>Actualmente trabaja como Data Arquitect en una empresa argentina.
    Comenzó a cursar en Coder House, para no perder de vista Python y las diferentes aplicaciones, frameworks, plataformas, etc.
    <br></br>
    Le gusta mantenerse actualizada y saber un poco de todo lo que pueda sumar en su carrera.
    Le gusta leer, viajar, aprender idiomas, estudiar y juntarse con amigos. :) </p>

<h1>{{mensaje}}</h1>

{% endblock %}