{% load static %}

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row align-items-center">                
            <div class="col-md-6">
                <h3 class="section-title">Horarios de Apertura</h3>
                <p class="mb-1 font-weight-bold">Lunes - Viernes : <span class="font-weight-normal pl-2 text-muted">18:00 pm - 1:00 pm</span></p>
                <p class="mb-1 font-weight-bold">Sábados - Domingos : <span class="font-weight-normal pl-2 text-muted">19:00 am - 2:00 am</span></p>

                <!-- <a href="#book-table" class="btn btn-primary btn-sm w-md mt-4">Book a table</a>-->
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <img src="{% static 'AppHoppiness/imgs/about-1.jpeg'%}"  class="w-100 rounded shadow">
                    </div>
                    <div class="col">
                        <img src="{% static 'AppHoppiness/imgs/about-2.jpeg'%}"class="w-100 rounded shadow">
                    </div>
                </div>                  
            </div>
        </div>
        <div class="section-devider my-6 transparent"></div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <h6 class="section-subtitle">El Gran Encuentro</h6>
                <h3 class="section-title">Nuestra Historia</h3>
                <p>Un lugar de encuentro y de momentos.</p>
            </div>
            <div class="col-md-6 order-1 order-sm-first">
                <div class="row">
                    <div class="col">
                        <img alt="45 ZORRAS IPA - VULP" src="{% static 'AppHoppiness/imgs/about-3.jpeg'%}" class="w-100 rounded shadow">
                    </div>
                    <div class="col">
                        <img alt="HONEY - CREFFT" src="{% static 'AppHoppiness/imgs/about-4.jpeg'%}" class="w-100 rounded shadow">
                    </div>
                </div>                  
            </div>
        </div>
    </div>
</section>
<!-- End OF About Section -->
